@use "variables";

.header {
  background-color: white;
}
.navigation {
  &__burger {
    &-top,
    &-middle,
    &-bottom {
      width: 1.5rem;
      height: 0.25rem;
      background-color: $dark-color;
      margin: 0.25rem;
      border-radius: 0.2rem;
    }
  }
}

.welcome-section {
  background-image: url("../assets/graphic.png");
  background-repeat: no-repeat;
  background-position: 45vw 0;
  background-size: 27rem;

  &__subheading {
    font-size: large;
    font-weight: 700;
    color: $primary-color;
    letter-spacing: 0.1rem;
  }

  &__heading {
    font-size: 3rem;
    font-weight: 900;
  }

  &__description {
    font-size: 1.25rem;
    font-weight: 400;
    color: $secondary-color;
  }
}

.CTA-section {
  background: linear-gradient(260deg, #ecff9793, rgba(255, 174, 0, 0) 20%),
    linear-gradient(127deg, #ff3999c0, #ff5e006b, rgba(112, 255, 112, 0.096)),
    linear-gradient(336deg, #ff5e00bb, rgba(255, 153, 0, 0.301));

  &__heading {
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
  }

  &__text {
    font-size: 1.25rem;
    line-height: 2rem;
  }
}

.showcase-section {
  &__heading {
    font-size: 2.5rem;
    font-weight: 500;
  }
  &__text {
    font-size: 1.25rem;
    font-weight: 400;
    color: $secondary-color;
    line-height: 2rem;
  }

  &__link {
    font-weight: 600;
    text-underline-offset: 0.25rem;
  }

  &__card-wrapper {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
  }
  &__card-wrapper::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
}

.CTA-section-second {
  background-image: url("../assets/upsell-footer-image.svg");
  background-repeat: no-repeat;
  background-position: 57vw 9rem;
  border: 0.2rem #eeeeee;
  border-style: solid none;

  &__subheading {
    font-size: large;
    font-weight: 700;
    color: $primary-color;
    letter-spacing: 0.1rem;
  }

  &__heading {
    font-size: 3rem;
    font-weight: 900;
  }

  &__text {
    font-size: 1.25rem;
    font-weight: 400;
    color: $secondary-color;
  }
}

.CTA-section-second:after {
  content: "";
  border-bottom: 0.2rem solid #eeeeee;
}
