@use "mixins";

.header {
  @include mixins.flexBox($direction: row, $justify: space-between);
  position: sticky;
  top: 0;
  padding: 1.5rem;
  width: 100%;
  z-index: 1000;
}

.welcome-section {
  @include mixins.flexBox($align: start);
  padding: 4rem 2rem;
  gap: 2rem;

  &__heading {
    width: 66vw;
  }

  &__description {
    width: 55vw;
    line-height: 2rem;
  }
}

.CTA-section {
  @include flexBox;
  padding: 7rem 2rem 2rem;
  gap: 2rem;
}

.sponsor-section {
  @include flexBox($direction: row, $justify: space-evenly);
  flex-wrap: wrap;
  gap: 2rem;
  margin: 3rem 1rem;
  &__image {
  }

  #boomerang {
    display: none;
  }

  @include tabletMediaQuery {
    #boomerang {
      display: block;
    }
    #boom {
      display: none;
    }
  }
}

.showcase-section {
  @include flexBox;
  gap: 1rem;
  padding: 2rem 0 5rem 2rem;

  &__heading,
  &__text {
  }

  &__card-wrapper {
    @include flexBox($direction: row, $justify: stretch);
    width: 100%;
    overflow-x: auto;
  }
}

.CTA-section-second {
  @include flexBox($align: start);
  padding: 3rem;
  gap: 2rem;
  position: relative;

  &__heading {
    width: 60vw;
  }

  &__text {
    width: 50vw;
    line-height: 2rem;
  }
}

.CTA-section-second:after {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 50%;
  left: 0;
  right: 0;
}
