@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

a {
  color: inherit;
}

* {
  font-family: "Inter", sans-serif;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 1.5rem;
  width: 100%;
  z-index: 1000;
}

.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 4rem 2rem;
  gap: 2rem;
}
.welcome-section__heading {
  width: 66vw;
}
.welcome-section__description {
  width: 55vw;
  line-height: 2rem;
}

.CTA-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 7rem 2rem 2rem;
  gap: 2rem;
}

.sponsor-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 3rem 1rem;
}
.sponsor-section #boomerang {
  display: none;
}
@media (min-width: 768px) {
  .sponsor-section #boomerang {
    display: block;
  }
  .sponsor-section #boom {
    display: none;
  }
}

.showcase-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 2rem 0 5rem 2rem;
}
.showcase-section__card-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
  width: 100%;
  overflow-x: auto;
}

.CTA-section-second {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 3rem;
  gap: 2rem;
  position: relative;
}
.CTA-section-second__heading {
  width: 60vw;
}
.CTA-section-second__text {
  width: 50vw;
  line-height: 2rem;
}

.CTA-section-second:after {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 50%;
  left: 0;
  right: 0;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1.5rem;
  margin: 3rem 2rem;
}
.footer__socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
}
.footer__navigation {
  display: grid;
  grid-template-columns: 10rem 10rem;
  gap: 2rem 1rem;
  margin-top: 2rem;
}
.footer__navigation-category-name {
  margin-bottom: 1.25rem;
}
.footer__navigation-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 0.75rem;
}
.footer__copyright-tag {
  margin: 2rem 0;
}

.button {
  display: inline-block;
  background: linear-gradient(#ffffff 0 0) padding-box, linear-gradient(225deg, #dabe45, #ff8139, #ff3939, #ff3998) border-box;
  padding: 1.25rem 3.5rem;
  border: 0.3rem solid transparent;
  border-radius: 5rem;
  font-size: 1.25rem;
  font-weight: 600;
}

.NFT-card {
  background-color: #eeeeee;
  border-radius: 1rem;
  margin-right: 2rem;
}
.NFT-card__info {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}
.NFT-card__series {
  font-size: 0.75rem;
  color: #ff8139;
  font-weight: 500;
}
.NFT-card__top-bit-tag {
  font-size: 0.75rem;
  color: #555;
  text-align: end;
}
.NFT-card__heading {
  font-size: 1.25rem;
  font-weight: 600;
}
.NFT-card__price {
  font-size: 1.25rem;
  font-weight: 600;
  text-align: end;
}
.NFT-card__price-currency {
  margin: 0 0.5rem;
}
.NFT-card__number, .NFT-card__time-left {
  font-size: 1.1rem;
  color: #555;
}
.NFT-card__time-left {
  text-align: end;
}

.header {
  background-color: white;
}

.navigation__burger-top, .navigation__burger-middle, .navigation__burger-bottom {
  width: 1.5rem;
  height: 0.25rem;
  background-color: #999999;
  margin: 0.25rem;
  border-radius: 0.2rem;
}

.welcome-section {
  background-image: url("../assets/graphic.png");
  background-repeat: no-repeat;
  background-position: 45vw 0;
  background-size: 27rem;
}
.welcome-section__subheading {
  font-size: large;
  font-weight: 700;
  color: #ff3998;
  letter-spacing: 0.1rem;
}
.welcome-section__heading {
  font-size: 3rem;
  font-weight: 900;
}
.welcome-section__description {
  font-size: 1.25rem;
  font-weight: 400;
  color: #555;
}

.CTA-section {
  background: linear-gradient(260deg, rgba(236, 255, 151, 0.5764705882), rgba(255, 174, 0, 0) 20%), linear-gradient(127deg, rgba(255, 57, 153, 0.7529411765), rgba(255, 94, 0, 0.4196078431), rgba(112, 255, 112, 0.096)), linear-gradient(336deg, rgba(255, 94, 0, 0.7333333333), rgba(255, 153, 0, 0.301));
}
.CTA-section__heading {
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
}
.CTA-section__text {
  font-size: 1.25rem;
  line-height: 2rem;
}

.showcase-section__heading {
  font-size: 2.5rem;
  font-weight: 500;
}
.showcase-section__text {
  font-size: 1.25rem;
  font-weight: 400;
  color: #555;
  line-height: 2rem;
}
.showcase-section__link {
  font-weight: 600;
  text-underline-offset: 0.25rem;
}
.showcase-section__card-wrapper {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.showcase-section__card-wrapper::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.CTA-section-second {
  background-image: url("../assets/upsell-footer-image.svg");
  background-repeat: no-repeat;
  background-position: 57vw 9rem;
  border: 0.2rem #eeeeee;
  border-style: solid none;
}
.CTA-section-second__subheading {
  font-size: large;
  font-weight: 700;
  color: #ff3998;
  letter-spacing: 0.1rem;
}
.CTA-section-second__heading {
  font-size: 3rem;
  font-weight: 900;
}
.CTA-section-second__text {
  font-size: 1.25rem;
  font-weight: 400;
  color: #555;
}

.CTA-section-second:after {
  content: "";
  border-bottom: 0.2rem solid #eeeeee;
}

.footer__text {
  font-size: 1.25rem;
  color: #555;
}
.footer__socials {
  list-style: none;
}
.footer__navigation-category-name {
  font-weight: 700;
  letter-spacing: 0.1rem;
  color: #555;
  text-transform: uppercase;
}
.footer__navigation-list {
  list-style: none;
}
.footer__navigation-list-link {
  font-size: 1.25rem;
  line-height: 100%;
  color: #555;
}
.footer__copyright-tag {
  font-size: 1.25rem;
  color: #999;
}

/*# sourceMappingURL=style.css.map */
